.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(46, 0, 106);
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: rgb(251, 246, 246);
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.inner-menu {
    margin-top: 240px;
}

.inner-menu a {
    color: rgb(255, 255, 255);
}

.sidebar .inner-menu a:hover:not(.active) {
    background-color: #1f91ee;
    color: rgb(0, 0, 0);
}
   
  
.sidebar a:hover:not(.active) {
    background-color: #1f91ee;
    color: white;
}
  
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    /* height: 900px; */
}

.tittle {
    background-color: rgb(46, 0, 106);
    padding: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: -20px;
    margin-top: -2px;
}

.main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tittle-bottom {
    padding: 10px;
}

.tittle-bottom h2 {
    margin-top: 50px;
    border-bottom: solid tomato;
}

.tittle-bottom p {
    text-align: justify;
}

.top-footer {
    display: flex;
    justify-content: space-between;
}

.top-footer img {
    width: 350px;
    height: 250px;
}